* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(40, 138, 42, 1) 0%, rgba(29, 79, 30, 1) 100%);
}


/* nav */

#Cho3_nav {
    top: 0;
    position: sticky;
    z-index: 101;
}

nav a {
    color: white;
    text-decoration: none;
    pointer-events: none;
}


/* login_card */

.login_card_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.login_card {
    display: flex;
    width: 350px;
    height: 500px;
    box-shadow: 1px -1px 44px -4px rgba(0, 0, 0, 0.66);
}

.forms_cont_login {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.forms_cont1 {
    display: grid;
    justify-content: center;
    width: 100%;
}

.forms_cont1 h1,
.forms_cont1 h2 {
    text-align: center;
}

.forms_cont1 button {
    width: 100%;
    background-color: #205E22;
    border: none;
    font-weight: 600;
}

.forms_cont1 button:hover {
    background-color: #1a421b;
}

.forms_cont1 button.active,
.forms_cont1 button:active,
.forms_cont1 button:visited,
.forms_cont1 button:focus,
#card a.active,
#card a:active,
#card a:visited,
#card a:focus {
    background-color: #205E22 !important;
}

.forms_cont1 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #205E22;
}

.forms_cont1 h2 {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
}

form label {
    color: #5C5C5C;
    font-size: 13px;
}

@media only screen and (max-width: 1000px) {
    .login_card {
        width: 350px;
    }
    .forms_cont_login {
        width: 100%;
    }
    .Cho3_nav {
        display: flex;
        justify-content: center;
    }
}