{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <!-- css: bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- css:font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- css stylesheet -->
    <link rel="stylesheet" href="{%static 'css/admin_patients.css'%}">
    <link rel="shortcut icon" href="{%static 'images/Dasmariñas_City_Logo.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="Cho3_nav">
        <img src="{%static 'images/Dasmariñas_City_Logo.png'%}" alt="Dasmariñas_City_Logo.png" width="30" height="30">
        <a class="nav-link" href="{%url 'bhc_app:admin_homepage'%}">City Health Office 3 Dasmariñas City Cavite (Administrator)</a>
        <a style="pointer-events: visible;" id="logout" href="{%url 'bhc_app:admin_patients'%}"><i class="bi-box-arrow-right" alt="logout_button" style="font-size: 30px;"></i></a>
    </nav>


    <div class="container">

        <div style="margin-top: 20px; display: grid; justify-content: center; align-content: center;">
            <h1 style="color: #205E22;">Individual Patient's Record</h1>
        </div>


        <table class="table" style="margin-top: 20px;">
            <form action="/admin_record_change" method="post">
                {% csrf_token %}
                <tbody>
                    <tr>
                        <td hidden><input type="text" class="form-control" name="id" placeholder="id" value="{{users.id}}" readonly></td>
                        <th scope="row">Name:</th>
                        <td><input type="text" class="form-control" name="name" placeholder="name" value="{{users.first_name}} {{users.last_name}}" readonly></td>
                        <th scope="row">Birthday:</th>
                        <td><input type="text" class="form-control" name="birthday" placeholder="bd" value="{{users.birthday}}" readonly></td>
                    </tr>
                    <tr>
                        <th scope="row">Address:</th>
                        <td><input type="text" class="form-control" name="address" placeholder="add" value="{{users.address}}" readonly></td>
                        <th scope="row">Sex:</th>
                        <td><input type="text" class="form-control" name="sex" placeholder="sex" value="{{users.sex}}" readonly></td>
                    </tr>
                    <tr>
                        <th scope="row">C/S:</th>
                        <td><input type="text" class="form-control" name="cs" placeholder="cs" value="{{users.cs}}"></td>
                        <th scope="row">Head of the Family:</th>
                        <td><input type="text" class="form-control" name="head_of_fam" placeholder="head of the fam" value="{{users.head_of_fam}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Philhealth Status:</th>
                        <td>
                            <select class="form-control" name="philhealth_status">
                            <option value="{{users.philhealth_status}}">{{users.philhealth_status}}</option>
                            <option value="Direct">Direct</option>
                            <option value="Indirect">Indirect</option>
                            <option value="Dependent">Dependent</option>
                          </select>
                        </td>
                        <th scope="row">ID Number:</th>
                        <td><input type="number" class="form-control" name="philhealth_number" placeholder="if None type: 0" value="{{users.philhealth_number}}" required></td>
                    </tr>
                    <tr>
                        <th scope="row">Covid 19 vaccine Status:</th>
                        <td>
                            <select class="form-control" name="covid_vacc_status">
                            <option value="{{users.covid_vacc_status}}">{{users.covid_vacc_status}}</option>
                            <option value="Booster">Booster</option>
                            <option value="Fully">Fully</option>
                            <option value="Partially">Partially</option>
                            <option value="None">None</option>
                          </select>
                        </td>
                        <th scope="row">Tobacco Use:</th>
                        <td>
                            <select class="form-control" name="tobacco_use">
                            <option value="{{users.tobacco_use}}">{{users.tobacco_use}}</option>
                            <option value="Current">Current</option>
                            <option value="Former">Former</option>
                            <option value="Never">Never</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">BP:</th>
                        <td><input type="text" class="form-control" name="bp" placeholder="BP" value="{{users.bp}}"></td>
                        <th scope="row">PR:</th>
                        <td><input type="text" class="form-control" name="pr" placeholder="PR" value="{{users.pr}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">WT:</th>
                        <td><input type="text" class="form-control" name="wt" placeholder="WT" value="{{users.wt}}"></td>
                        <th scope="row">HT:</th>
                        <td><input type="text" class="form-control" name="ht" placeholder="ht" value="{{users.ht}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">BMI:</th>
                        <td><input type="text" class="form-control" name="bmi" placeholder="bmi" value="{{users.bmi}}"></td>
                        <th scope="row">Temperature:</th>
                        <td><input type="text" class="form-control" name="temp" placeholder="bmi" value="{{users.temp}}"></td>
                    </tr>
                    <tr>
                        <th scope="row">PWD:</th>
                        <td>
                            <select class="form-control" name="pwd">
                            <option value="{{users.pwd}}">{{users.pwd}}</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </td>
                        <th scope="row">Senor:</th>
                        <td>
                            <select class="form-control" name="senor">
                            <option value="{{users.pwd}}">{{users.senor}}</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Injury:</th>
                        <td>
                            <select class="form-control" name="injury">
                            <option value="{{users.pwd}}">{{users.injury}}</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </td>
                        <th scope="row">Mental Health:</th>
                        <td>
                            <select class="form-control" name="mental_health">
                            <option value="{{users.pwd}}">{{users.mental_health}}</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><button type="submit" class="btn btn-primary btn-lg btn-block">SAVE</button></td>
                    </tr>

                </tbody>
            </form>
        </table>





        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="5"><button type="submit" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal" style="background-color: #205E22;">+ ADD</button></td>
                </tr>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">History of Illness</th>
                    <th scope="col">Physical Exam</th>
                    <th scope="col">Assessment/Impression</th>
                    <th scope="col">Treatment/Management Plan</th>
                </tr>
            </thead>
            <tbody>
                {% for i in record %}
                <tr>
                    <th scope="row">{{i.date}}</th>
                    <td>{{i.history_illness}}</td>
                    <td>{{i.physical_exam}}</td>
                    <td>{{i.assessment}}</td>
                    <td>{{i.treatment_or_management_plan}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Patient's Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/add_record">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="patient">Patient</label>
                            <input type="text" class="form-control" name="patient" value="{{users.id}}">
                        </div>
                        <div class="form-group">
                            <label for="history_illness">History Illness</label>
                            <input type="text" class="form-control" name="history_illness">
                        </div>
                        <div class="form-group">
                            <label for="physical_exam">Physical Examinatiuon</label>
                            <input type="text" class="form-control" name="physical_exam">
                        </div>
                        <div class="form-group">
                            <label for="assessment">Assessment/Impression</label>
                            <input type="text" class="form-control" name="assessment">
                        </div>
                        <div class="form-group">
                            <label for="treatment_or_management_plan">Treatment/Management Plan</label>
                            <input type="text" class="form-control" name="treatment_or_management_plan">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--jQuery and Bootstrap Bundle (includes Popper)-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- https://sweetalert.js.org/guides/ -->

    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        swal("{{ message }}!", "You clicked the button!");
    </script> {% endif %} {% endfor %} {% endif %}

</body>

</html>